**/node_modules
**/package-lock.json
**/.eslintcache
**/.env
**/logs
**/jest
**/dist
backend/bin
backend/test.js
backend/assets
backend/simulations/results
backend/simulations/dump.log
**/*.test.csv
**/*.test.txt
**/db.md